h1, h2, h3,h4,h5,h6,p,li,nav {
  font-family: 'Barlow Condensed', sans-serif;
}

.body {
  background-color: linear-gradient(to bottom right, #f2fcfc 58%, #e6e6e6 108%);
  background-image: url("../img/tree.png");
  background-repeat: no-repeat;
  background-size: 75%;
  display: block;
  background-position: top;
}

.jumbotron {
  padding-bottom: 2rem;
  margin-bottom: 0.25rem;
  background: linear-gradient(to top left, #f2fcfc 58%, #e6e6e6 108%);
}

.sidebar {
  border-style: solid;
  border-color: grey;
  border-width: 0.2rem;
  padding-bottom: 15%;
  background: #f2fcfc;
  padding-left: 1rem;
  padding-top: 1%
}

.sidebar-image {
  width: auto;
  height: auto;
  max-width: 100%;
  max-height: 100%;
  position: relative;
  margin-bottom: 2rem;
}

.sidebar-buttons {
  font-size: 1.2rem;
  ;
}

.page-col {
  margin-left: 0.25rem;
}

.blog-col {
  margin-left: -0.75rem;
  margin-bottom: 0.25rem;
  border-style: solid;
  border-color: grey;
  padding: 2rem;
  background: #f2fcfc;
  height: 100%;
}

.blogpost {
  margin-bottom: 0.25rem;
  border-style: solid;
  border-color: grey;
  padding: 2rem;
  background: #f2fcfc;
  height: 20rem;
  overflow: hidden;
}

.blog-image-thumb {
  width: auto;
  height: auto;
  max-width: 100%;
  max-height: 100%;
  position: relative;
}

.blog-text {
  /* width: 250px; */
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.navbar-image {
  width: 2rem;
  height: 2rem;
  position: relative;
  margin-right: 1rem;
}

.blog-image-box {
  margin: 1rem;
  max-width: 25%;
}

.blog-side-image {
  width: 25%;
  margin-left: 2rem;
}

.blog-image {
  width: 30rem;
}

.blog-image-subtext {
  text-align: center;
  margin: 0.5rem;
}

.blog-preview {
  overflow:hidden;
}

.aboutme {
  margin-bottom: 0.25rem;
  border-style: solid;
  border-color: grey;
  padding: 2rem;
  background: #f2fcfc;

}

.aboutme-image  {
  width: auto;
  height: auto;
  max-width: 100%;
  max-height: 100%;
  position: relative;
  margin-bottom: 2rem;
}
}
