<div class="row blogpost">
  <div class="col-3">
    <img class="image-fluid blog-image-thumb" src="./img/traffic.jpg">
  </div>
  <div class="col-9">
    <div class="row">
      <div class="col-10">
        <h2><a href="#">A plan to fix I-80 in Berkeley (for me)</a></h2>
      </div>
      <div class="col-2">
        <h6><em>October 27th, 2019</em></h6>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <p class="blog-text">Instead of carpool lanes, we shoudld have <em>Joseph</em> lanes. This would allow me to get to where I need to go without the hassels of traffic. In fact, this could have a huge impact to my quality of life in
          general.</p>
      </div>
    </div>
  </div>
</div>
